/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Navs
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav#bundle-subheader{
  margin-bottom: 0;
  background-color: $subheader-color;
  color: $subheader-text-color;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  @include border-radius(0);
  min-height: 4rem;

  ol.breadcrumb {
    @include anchor($subheader-text-color, tint($subheader-text-color, 10%), none, none);
    margin-bottom: 0;
    padding: 1rem 1rem 1rem 0;
    background-color: transparent;

    li {
      color: fade-out($subheader-text-color, 0.25);
      position: relative;

      h4 {
        margin: 0;
      }
    }
  }

  div.additional-menu:not(.with-buttons) {
    @include anchor($subheader-text-color, tint($subheader-text-color, 10%), none, none);
  }

  div.additional-menu ul:not(.dropdown-menu) {
    position: relative;
    margin-bottom: 0;
    padding: 1rem 0 1rem 2rem;
  }

  div.additional-menu.with-buttons ul:not(.dropdown-menu) {
    padding: 0.9rem 0 0.9rem 2rem;
  }

  ul.dropdown-menu > li {
    @include anchor($subheader-text-color, tint($subheader-text-color, 10%), none, none);
  }
}

/* Media Queries
 *-------------------------------------- */

@media (max-width : 768px) {
  nav#bundle-subheader{
    li a:not(.btn) {
      background: transparent;
    }

    div#sub-header {
      position: absolute;
      z-index: 2000;
      width: 100%;
      background-color: rgba($black, 0.85);
    }
    div#sub-header ul li{
      display: inline-block;
      float: left;

    }
    div#sub-header ul li.active a:not(.btn){
      background: transparent;
    }
    div#sub-header ul li a:not(.btn){
      color: $white;
    }

    div.breadcrumbs {
      display: inline-block;
    }

    div.additional-menu {
      float: right;

      > ul:not(.dropdown-menu) {
        padding: 10px 0 10px 5px;
      }
    }

    ol.breadcrumb {
      padding: 10px 5px 10px 0;
    }
  }
}

/* Nav Tabs Elements
 *-------------------------------------- */
.nav-tabs {
  > li > a,
  > li > a:hover,
  > li > a:focus {
    border-radius: 0;
    border: none;
    color: $gray;
  }

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    color: $tertiary;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid $tertiary;
  }
  > li > a:hover{
    background-color: transparent;
    border:none;
    border-bottom: 2px solid $tertiary;
  }
}

.tab-content .tab-pane table thead tr:first-child th {
  border-top: none;
}

@media (max-width: 767px) {
  .nav-tabs.stacked-xs > li {
    float: none;
    margin-bottom: 0;
    a {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .nav-tabs.stacked-xs > li.active {
    margin-bottom: -2px;
  }
}

/* Nav Pills Elements
 *-------------------------------------- */
.nav-pills > li > a {
  @include border-radius(0);
  color: $black;
  padding: 1rem 1.6rem;
}

/* Solid bottom bar on active page */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: $primary;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 0.4rem solid $primary;
}
.nav-pills > li > a:hover {
  color: rgb(66, 139, 202);
  background-color: transparent;
  border-color: transparent;
  border-bottom: 0.4rem solid rgba($primary, 0.5);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: transparent;
}
